body {background: #999999;color: #A5A5A5;text-align:center;}
h1 a, h2 a, h3 a{color: #474747; text-decoration: none;}		
.paper-border{margin:30px 30px 0px 30px;}
.paper{width:84%;display: inline-block;background-color: #FFFFFF;margin-top:30px;overflow:hidden;}
.banner{background-color: red;text-algin:center;overflow: auto;}
.banner>p{color:#000000;}
.banner>h1{color:#000000;}

.menu {background-color: red;}
.menu ul {list-style: none;margin: 0;padding: 0;}
.menu ul li {position: relative;float:left;padding: 6px 5px 0px 5px;}
.menu ul li a {font-size: 18px; color: #ffffff;display: block;padding: 6px 30px;margin-bottom: 5px;z-index: 6;position: relative;}
.menu ul li:hover {background-color:#ffffff;}
.menu ul li:hover a {color:#000000;}			

.content{overflow:hidden;}
.content-left{width:65%; float:left;}
.content-right{width:33%; float:right;}
.content-page{width:100%; float:left;}

.content .article { margin-bottom:40px; padding:5px; border: 1px solid #BCBCBC;}
.content .article .heading{text-align: left; border-bottom: 1px solid #BCBCBC; padding: 10px 0 12px 0; margin-bottom: 10px;}
.content .article .content{text-align: left; margin: 20px 0;}

.content .box {margin-bottom:20px; border: 1px solid #BCBCBC; padding: 20px;}
.content .box .heading { padding:5px; text-align: center;}
.content .box .heading h2{display:inline; padding:0 10px;}		
.content .box .content {text-align: left;}		