<?xml version="1.0" encoding="UTF-8"?>
<beans
    xmlns="http://www.springframework.org/schema/beans"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xmlns:context="http://www.springframework.org/schema/context"
    xmlns:p="http://www.springframework.org/schema/p"
    xmlns:mvc="http://www.springframework.org/schema/mvc" 
     xsi:schemaLocation="http://www.springframework.org/schema/beans 
    http://www.springframework.org/schema/beans/spring-beans.xsd 
    http://www.springframework.org/schema/mvc 
    http://www.springframework.org/schema/mvc/spring-mvc-3.0.xsd 
    http://www.springframework.org/schema/aop 
    http://www.springframework.org/schema/aop/spring-aop-3.0.xsd 
    http://www.springframework.org/schema/context 
    http://www.springframework.org/schema/context/spring-context.xsd"> 
    
    <!-- 配置数据源 -->
    <bean id="dataSource" class="org.apache.commons.dbcp.BasicDataSource">
         <property name="driverClassName" value="com.mysql.jdbc.Driver"></property>
        <property name="url" value="jdbc:mysql://localhost:3306/dream?useUnicode=true&amp;characterEncoding=UTF-8&amp;zeroDateTimeBehavior=convertToNull"></property>
        <property name="username" value="root"></property>
        <property name="password" value=""></property>
    </bean>
    
    <bean id="transactionManager"
        class="org.springframework.jdbc.datasource.DataSourceTransactionManager">
        <property name="dataSource" ref="dataSource" /> 
    </bean>
    
    
    <bean id="sqlSessionFactory" class="org.mybatis.spring.SqlSessionFactoryBean">
        <property name="configLocation" value="classpath:MyBatis-Configuration.xml"></property>
        <property name="dataSource" ref="dataSource" />
    </bean>
    
    
    <bean id="userService" class="com.dream.service.org.UserServiceImpl">
        <property name="userDao" ref="userDao"></property>
    </bean>
    
    <bean id="deptService" class="com.dream.service.org.DeptServiceImpl">
        <property name="deptDao" ref="deptDao"></property>
    </bean>

    <bean id="seatService" class="com.dream.service.org.SeatServiceImpl">
        <property name="seatDao" ref="seatDao"></property>
    </bean>    
    
    <bean id="taskService" class="com.dream.service.impl.TaskServiceImpl">
        <property name="taskDao" ref="taskDao"></property>
    </bean>
    
    <bean id="sickService" class="com.dream.service.serial.impl.SickServiceImpl">
        <property name="sickerDao" ref="sickerDao"></property>
    </bean>
    <bean id="sickerRecordService" class="com.dream.service.serial.impl.SickerRecordServiceImpl">
        <property name="sickerRecordDao" ref="sickerRecordDao"></property>
    </bean>
    <bean id="sickerLogService" class="com.dream.service.serial.impl.SickerLogServiceImpl">
        <property name="sickerLogDao" ref="sickerLogDao"></property>
    </bean>
    
    <bean id="insDefService" class="com.dream.service.serial.impl.InsDefServiceImpl">
        <property name="insDefDao" ref="insDefDao"></property>
    </bean>
    <bean id="insBtnService" class="com.dream.service.serial.impl.InsBtnServiceImpl">
        <property name="insBtnDao" ref="insBtnDao"></property>
    </bean>
    <bean id="insFieldService" class="com.dream.service.serial.impl.InsFieldServiceImpl">
        <property name="insFieldDao" ref="insFieldDao"></property>
    </bean>    
    
    
    <bean id="dictService" class="com.dream.service.impl.DictServiceImpl">
        <property name="dictDao" ref="dictDao"></property>
    </bean>
    <bean id="dictEntryService" class="com.dream.service.impl.DictEntryServiceImpl">
        <property name="dictEntryDao" ref="dictEntryDao"></property>
    </bean>
    
    <bean id="commentService" class="com.dream.service.impl.CommentServiceImpl">
        <property name="commentDao" ref="commentDao"></property>
    </bean>
    <bean id="menuService" class="com.dream.service.impl.MenuServiceImpl">
        <property name="menuDao" ref="menuDao"></property>
    </bean>
    
    <bean id="articleService" class="com.dream.service.impl.ArticleServiceImpl">
        <property name="articleDao" ref="articleDao"></property>
    </bean>
    
    <bean id="dynamicService" class="com.dream.service.bi.DynamicServiceImpl">
        <property name="dynamicDao" ref="dynamicDao"></property>
    </bean>    
    
    <bean id="todoService" class="com.dream.service.impl.TodoServiceImpl">
        <property name="todoDao" ref="todoDao"></property>
    </bean>    
    
    <bean id="wfService" class="com.dream.service.wf.WfServiceImpl">
        <property name="wfDao" ref="wfDao"></property>
    </bean>
    
    <bean id="nodeService" class="com.dream.service.wf.NodeServiceImpl">
        <property name="nodeDao" ref="nodeDao"></property>
    </bean>
    
    <bean id="lineService" class="com.dream.service.wf.LineServiceImpl">
        <property name="lineDao" ref="lineDao"></property>
    </bean>    
    
    <bean id="wfInstService" class="com.dream.service.wf.WfInstServiceImpl">
        <property name="wfInstDao" ref="wfInstDao"></property>
    </bean>
    
    <bean id="wfNodeInstService" class="com.dream.service.wf.WfNodeInstServiceImpl">
        <property name="wfNodeInstDao" ref="wfNodeInstDao"></property>
    </bean>
    
    <bean id="vacationService" class="com.dream.service.bi.VacationServiceImpl">
        <property name="vacationDao" ref="vacationDao"></property>
    </bean>
    
    <bean id="channelService" class="com.dream.service.impl.ChannelServiceImpl">
        <property name="channelDao" ref="channelDao"></property>
    </bean>

    <bean id="fileService" class="com.dream.service.impl.FileServiceImp">
        <property name="fileDao" ref="fileDao"></property>
    </bean>
    
    <bean id="actLogService" class="com.dream.service.impl.ActLogServiceImpl">
        <property name="actLogDao" ref="actLogDao"></property>
    </bean>    
    
    <bean id="configService" class="com.dream.service.impl.ConfigServiceImpl">
        <property name="configDao" ref="configDao"></property>
    </bean>
    
    <bean class="org.mybatis.spring.mapper.MapperScannerConfigurer">
        <property name="basePackage" value="com.dream.dao" />
    </bean>

    <bean id="springContextUtil" class="com.dream.utils.SpringContextUtil" scope="singleton" />
    
    <bean id="mailService" class="com.dream.service.impl.MailServiceImpl"/>
    
    <bean id="crawlService" class="com.dream.service.impl.CrawlServiceImpl"/>
    <!-- 配置一个Job -->  
    <bean id="crawlJob" class="org.springframework.scheduling.quartz.JobDetailFactoryBean">  
        <property name="jobClass" value="com.dream.quartz.job.CrawlJob"/>  
        <property name="jobDataAsMap">  
            <map>  
                <entry key="crawlService" value-ref="crawlService"></entry>  
            </map>  
        </property>  
    </bean>  
      
    <!-- 简单的触发器 -->  
    <bean id="simpleTrigger" class="org.springframework.scheduling.quartz.SimpleTriggerFactoryBean">  
        <property name="jobDetail">  
            <ref bean="crawlJob"/>  
        </property>  
        <property name="startDelay">  
            <value>6000</value>  
        </property>  
        <property name="repeatInterval">  
            <value>6000</value>       
        </property>  
    </bean>  
      
    <!--复杂的触发器 -->  
    <bean id="complexTrigger" class="org.springframework.scheduling.quartz.CronTriggerFactoryBean">  
        <property name="jobDetail">  
            <ref bean="crawlJob"/>  
        </property>  
        <property name="cronExpression">  
            <!-- <value>0 0/1 * * * ?</value> -->  
            <value>0 0 * * * ?</value>  
        </property>  
    </bean>  
      
    <!-- spring触发工厂 -->  
    <bean class="org.springframework.scheduling.quartz.SchedulerFactoryBean">  
        <property name="triggers">  
            <list>  
                <ref bean="complexTrigger"/>  
            </list>  
        </property>  
    </bean>

    
	
</beans>